<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FREE CRM Application Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7c2a6">  <td>20/03/08 22:06:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@47c62251]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>20/03/08 22:06:40</td>   <td>17606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:1, instance:com.crm.qa.testcases.LoginPageTest@47c62251]">loginPageTitleTest</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>20/03/08 22:06:40</td>   <td>17642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@47c62251]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/03/08 22:06:41</td>   <td>18459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.crm.qa.testcases.HomePageTest@3e6fa38a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/03/08 22:06:58</td>   <td>35731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyHomePageTitleTest()[pri:1, instance:com.crm.qa.testcases.HomePageTest@3e6fa38a]">verifyHomePageTitleTest</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/03/08 22:06:58</td>   <td>35743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.HomePageTest@3e6fa38a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:06:59</td>   <td>36636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:07:33</td>   <td>70892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.validateCreateNewContact(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">validateCreateNewContact</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:07:54</td>   <td>91419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:07:54</td>   <td>92243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:08:29</td>   <td>126443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.validateCreateNewContact(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">validateCreateNewContact</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:08:50</td>   <td>147476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:08:51</td>   <td>148491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:09:25</td>   <td>182990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.validateCreateNewContact(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">validateCreateNewContact</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:09:47</td>   <td>204565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>20/03/08 22:09:48</td>   <td>205403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@47c62251]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>20/03/08 22:10:07</td>   <td>224397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:2, instance:com.crm.qa.testcases.LoginPageTest@47c62251]">loginTest</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>20/03/08 22:10:07</td>   <td>224885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.LoginPageTest@47c62251]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/03/08 22:10:08</td>   <td>225690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.crm.qa.testcases.HomePageTest@3e6fa38a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/03/08 22:10:27</td>   <td>244738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyUserNameTest()[pri:2, instance:com.crm.qa.testcases.HomePageTest@3e6fa38a]">verifyUserNameTest</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/03/08 22:10:29</td>   <td>246915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.HomePageTest@3e6fa38a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:10:29</td>   <td>246916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:11:03</td>   <td>280608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.selectSingleContactsTest()[pri:2, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">selectSingleContactsTest</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:11:25</td>   <td>303313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/03/08 22:11:26</td>   <td>304107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.crm.qa.testcases.HomePageTest@3e6fa38a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/03/08 22:11:44</td>   <td>322296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyContactsLinkTest()[pri:3, instance:com.crm.qa.testcases.HomePageTest@3e6fa38a]">verifyContactsLinkTest</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/03/08 22:11:47</td>   <td>324968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.HomePageTest@3e6fa38a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:11:47</td>   <td>324968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:12:20</td>   <td>358310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.selectMultipleContactsTest()[pri:3, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">selectMultipleContactsTest</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:12:49</td>   <td>387157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:12:50</td>   <td>388019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactsPageTest.setUp()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:13:25</td>   <td>423153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactsPageTest.verifyContactsPageLabel()[pri:4, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">verifyContactsPageLabel</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>20/03/08 22:13:25</td>   <td>423246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactsPageTest.tearDown()[pri:0, instance:com.crm.qa.testcases.ContactsPageTest@66a3ffec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
</table>
